@font-face {
    font-family: "Rubik";
    src: url("./fonts/rubik-variable.ttf");
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    src: url("./fonts/rubik-italic-variable.ttf");
}

:root {
    font-family: Rubik;
    --page-padding: 8px;
    --cell-size: 15px;
}

body {
    margin: 0;
}

#page_wrapper {
    height: calc(100vh - var(--page-padding)*2);
    padding: var(--page-padding);

    display: flex;
    flex-direction: column;
}

#game_title {
    text-align: center; 
}

#grid-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#grid {
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, 1fr);
}

.cell {
    background-color: red;
    margin: 1px;
    width: var(--cell-size);
    height: var(--cell-size);
}