@font-face {
    font-family: "Rubik";
    src: url("./fonts/rubik-variable.ttf");
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    src: url("./fonts/rubik-italic-variable.ttf");
}

:root {
    font-family: Rubik;
}

#game_title {
    text-align: center; 
}

#grid {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(auto-fill, 1fr);
}

.cell {
    background-color: red;
    margin: 1px;
    width: auto;
    height: auto;
}